/* Navgation color and font*/ 

.navbar-custom{
    background-color: rgb(135, 162, 235);
    font-family: "Comic Sans MS "
    
}




.card{
    border: none;

}

.container-my-5{
    margin-top: 3rem;
    margin-bottom: 3rem;


}





.carousel-item img {
    height: 500px;
    object-fit: cover;
}


.card-img-top {
    height: 250px;
    object-fit:cover

}



.card.body { 

    text-align: center;
    background-color: skyblue;
    color: white;

}


.card-title { 
    font-size: 1.5rem;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;



}




.card-text {
    font-size:1rem;
    font-family: 'Arial, Helvetica, sans-serif'; 



}




.card-group {
    height: 50vh;

}




.card-body {
    font-weight: bold;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}




.maps { 
  display: flex;
  justify-content: center;
  margin-top: 20px;
}




.star-rating {
  display: flex;
  justify-content: center;
  gap: 6px;
  padding: 10px 0;
}

.star {
  width: 30px;
  height: 30px;
  background: #ccc;
  clip-path: polygon(
    50% 0%, 61% 35%, 98% 35%,
    68% 57%, 79% 91%, 50% 70%,
    21% 91%, 32% 57%, 2% 35%,
    39% 35%
  );
}

.star.filled {
  background: gold;
}



.site-footer {
    background-color: rgb(135, 162, 235);
    color: white;
    text-align: center;
    padding: 20px 0;
    font-family: Arial, Helvetica, sans-serif;


}



.footer-card {
    background-color: rgb(135, 162, 235);
    color: white;
    padding: 20px 0;
    font-family: Arial, Helvetica, sans-serif;
}



.container-mt-4 {
    margin-top: 1.5rem;
    font-family: Arial, Helvetica, sans-serif;

}




.card-text-center {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(135, 162, 235);
    color: white;
}




.card-img-services {
    width: 500px;
    height: 180px;
    object-fit: cover;   
    border-radius: 10px;
    display: block;      
    margin-left: auto;   
    margin-right: auto;  
}



.container-my-5 {
    margin-top: 3rem;
    margin-bottom: 3rem;
 background-color: rgb(240, 248, 255);


}



.col-md-4 {
    margin-bottom: 20px;
    background-color: rgb(240, 248, 255);
}




.d-flex justify-content-center {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
    font-weight: bold;
    color: rgb(0, 0, 0);
    align-items: center;
    

}

h8 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
    color: rgb(0, 0, 0);
    align-content: center;
}