/* Navgation color and font*/ 

.navbar-custom{
    background-color: rgb(135, 162, 235);
    font-family: "Xanh Mono", monospace;
    font-weight: bold;
    
}




.card{
    border: none;

}

.container-my-5{
    margin-top: 3rem;
    margin-bottom: 3rem;


}





.carousel-item img {
    height: 500px;
    object-fit: cover;
}


.card-img-top {
    height: 250px;
    object-fit:cover

}





.card-title { 
    font-size: 1.5rem;
    font-weight: bold;
    font-family: "Xanh Mono", monospace;



}




.card-text {
    font-size:1rem;
    font-family: 'Xanh Mono', monospace; 



}




.card-group {
    height: 50vh;

}




.card-body {
    font-weight: bold;
    text-align: center;
    font-family: "Xanh Mono", monospace;
}




.maps { 
  display: flex;
  justify-content: center;
  margin-top: 20px;
}





.About-Us {
    font-family: "Xanh Mono", monospace;
    font-size: 1.2rem;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.About-us-col-md-3 {
    width: 70%;
    height: 200px;
    object-fit: cover;
    margin:auto;
    display: block; 
    border-radius: 0.25rem;
  
}

.card-img-top {
    width: 70%;
    height: 300px;
    object-fit: cover;
    border-radius: 8px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.card-img-bottom {
    width: 70%;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
    display : block;
    margin-left: auto;  
    margin-right: auto;
}




.fa {
  padding: 20px;
  font-size: 50px;
  width: 80px;
  text-align: center;
  text-decoration: none;
  color: white
}


.fa:hover {
  opacity: 0.7;
}



.star-rating {
  display: flex;
  justify-content: center;
  gap: 6px;
  padding: 10px 0;
}

.star {
  width: 30px;
  height: 30px;
  background: #ccc;
  clip-path: polygon(
    50% 0%, 61% 35%, 98% 35%,
    68% 57%, 79% 91%, 50% 70%,
    21% 91%, 32% 57%, 2% 35%,
    39% 35%
  );
}

.star.filled {
  background: gold;
}


/* Footer section */

.site-footer {
    background-color: rgb(135, 162, 235);
    color: white;
    text-align: center;
    padding: 20px 0;
    font-family: Xanh Mono, monospace;


}

.no-bullets {
    list-style-type: none;
    padding: 0;
    font-family: "Xanh Mono", monospace;
}

.footer-card {
    background-color: rgb(135, 162, 235);
    color: white;
    padding: 20px 0;
    font-family: "Xanh Mono", monospace;
    overflow: hidden;
    display : flex;
    justify-content: center;
}

.footer-card-body {
    font-family: "Xanh Mono", monospace;
    font-size: 1rem;
    font-weight: bold;
}



.container-mt-4 {
    margin-top: 1.5rem;
    font-family: "Xanh Mono", monospace;

}




.card-text-center {
    text-align: center;
    font-family: "Xanh Mono", monospace;
    background-color: rgb(135, 162, 235);
    color: white;
}




.card-img-services {
    width: 500px;
    height: 180px;
    object-fit: cover;   
    border-radius: 10px;
    display: block;      
    margin-left: auto;   
    margin-right: auto;  
}



.container-my-5 {
    margin-top: 3rem;
    margin-bottom: 3rem;
 background-color: rgb(240, 248, 255);


}



.col-md-4 {
    margin-bottom: 20px;
    background-color: rgb(240, 248, 255);
}




.d-flex justify-content-center {
    font-family: Xanh Mono, monospace;
    font-size: 1.2rem;
    font-weight: bold;
    color: rgb(0, 0, 0);
    align-items: center;
    

}

h8 {
    font-family: Xanh Mono, monospace;
    font-size: 1.5rem;
    font-weight: bold;
    color: rgb(0, 0, 0);
    align-content: center;
}



/* Tab section */

.tab {
  overflow: hidden;
  background-color: #f1f1f1;
}

.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

.tab button:hover {
  background-color: rgb(135, 162, 235);
}

.tab button.active {
  background-color: rgb(135, 162, 235);
}

.tabcontent {
  display: none;
  padding: 6px 12px;
}





